<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PROJECT_LELONG_MODBUS_VB_PROFACE_REV1.Setting_Connect.Setting" connectionString="Data Source=|DataDirectory|\LELONG Database.db" providerName="System.Data.SqlLite" />
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
